
<div class="row center">
  <div class="col-md-6 col-md-offset-3">
<%= form_with(model: mentee) do |form| %>
  <% if mentee.errors.any? %>
    <div id=“error_explanation”>
      <h2><%= pluralize(mentee.errors.count, “error”) %> prohibited this mentee from being saved:</h2>
      <ul>
        <% mentee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <%= form.label :major %>
    <%= form.text_field :major %>

    <%= form.label :area_of_interest %>
    <%= form.text_field :area_of_interest %>

    <%= form.label :preferred_method_of_contact %>
    <%= form.text_field :preferred_method_of_contact %>

    <%= form.label :location %>
    <%= form.text_field :location %>

    <%= form.label :length_of_mentorship %>
    <%= form.text_field :length_of_mentorship %>

    <%= form.label :graduation_year %>
    <%= form.text_field :graduation_year %>
    
    <%= form.label "Profile Photo" %>
    <%= form.file_field :avatar %>

  <div class=“actions”>
    <%= form.submit %>
  </div>
<% end %>
</div>
</div>