<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class= "center jumbotron emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h1>
                                        <%= @user.firstname + " " + @user.lastname %>
                                    </h1>
                                    <h6>
                                        Seeking Mentorship
                                    </h6>
                            <br>
                            <br>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item active">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Matching Preferences</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane active" class="fade show" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <table class= "table">
                                      <tr>
                                        <th>Major</th>
                                        <td><%= @mentee.major %></td>
                                      </tr>
                                      <tr>
                                        <th>Areas of Interest</th>
                                        <td><%= @mentee.area_of_interest%></td>
                                      </tr>
                                      <tr>
                                        <th>Location</th>
                                        <td><%= @mentee.location %></td>
                                      </tr>
                                      <tr>
                                        <th>Graduation Year</th>
                                        <td><%= @mentee.graduation_year %></td>
                                      </tr>
                                      </tr>
                                        <th>preferred Method of Contact</th>
                                        <td><%= @mentee.preferred_method_of_contact %></td>
                                      <tr>
                                      </tr>
                                        <th>preferred Length of Mentorship</th>
                                        <td><%= @mentee.length_of_mentorship %></td>
                                      <tr>
                                        <th colspan="20"></th>
                                      </tr>
                                  </table>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <h2>More Details Will be Added</h2>
                            </div>
                        </div>
                    </div>
                      <div class="col-md-6">
                        <div class="profile-img">
                        <% if @mentee.avatar.attached? %>
                          <img src="<%=(url_for(@mentee.avatar))%>" width="220" height="200">
                        <% else %>
                            <img src="defaultpic.png" alt="" style= "align:right" width="220" height="200"/>
                        <% end %>
                        </div>
                        <br>
                        <%= link_to 'Edit Profile', edit_mentee_path(@mentee), class: "button2" %>
                    </div>
                    </div>
                </div>
            </form>           
        </div>

    </body>
    </html>
