     <div id="matching">

                    <% possible_user = User.find(user_match.user_id) %>          
                    <div class="item ">    
                    <% @user = current_user%>

        <% if @user.mentee? %>
            <% @mentee_id = Mentee.find_by(user_id: @user.id).id %>
            <% cable_done = true %>
            <% if user_match.instance_of? Mentee%>
                <%cable_done = false%>
            <%else%>
                <%cable_done = true%>
            <%end%>
        <% elsif @user.mentor? %>
            <% @mentor_id = Mentor.find_by(user_id: @user.id).id %>
            <% cable_done = true %>
            <% if user_match.instance_of? Mentor %>
                <%cable_done = false%>
            <%else%>
                <%cable_done = true%>
            <%end%>
        <% end %>
    <div class="card container center jumbotron" style="width:60rem;">
        <% if cable_done == true%>
        <% if possible_user.avatar.attached? %>
            <img class="card-img-top" src="<%=(url_for(user_match.avatar))%>" width="220" height="200">
        <% else %>
            <img class="card-img-top" src="https://www.pngitem.com/pimgs/m/30-307416_profile-icon-png-image-free-download-searchpng-employee.png" width="220" height="200"/>
        <% end %>
            <% if current_user.mentee == true %>
                <div class="card-body">
                    <h5 class="card-title"><%= possible_user.firstname + " " + possible_user.lastname %></h5>
                    <p class="card-text text-muted"><%= possible_user.email %></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Area of expertise: <%= user_match.area_of_expertise %></li>
                    <li class="list-group-item">Preferred method of contact: <%= user_match.preferred_method_of_contact%></li>
                    <li class="list-group-item">University: <%= user_match.school %></li>
                    <li class="list-group-item">Current Position: <%= user_match.current_position %></li>
                    <li class="list-group-item">Location: <%= user_match.location %></li>
                    <li class="list-group-item">Preferred Length of Mentorship: <%= user_match.length_of_mentorship %></li>
                </ul>
            <% else %>
                <div class="card-body">
                    <h5 class="card-title"><%= possible_user.firstname + " " + possible_user.lastname %></h5>
                    <p class="card-text text-muted"><%= possible_user.email %></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Major: <%= user_match.major %></li>
                    <li class="list-group-item">Areas of Interest: <%= user_match.area_of_interest%></li>
                    <li class="list-group-item">Location: <%= user_match.location %></li>
                    <li class="list-group-item">Graduation Year: <%= user_match.graduation_year %></li>
                    <li class="list-group-item">Preferred Method of Contact: <%= user_match.preferred_method_of_contact %></li>
                    <li class="list-group-item">Preferred Length of Mentorship: <%= user_match.length_of_mentorship %></li>
                </ul>
            <% end %>

            <div class="card-body">
                <%if @user.mentee? %> <% @match = Match.find_by(user_id: current_user.id, mentor_id: user_match.id, mentee_id: @mentee_id)%><% end %>
                <%if @user.mentor? %><% @match = Match.find_by(user_id: current_user.id, mentor_id: @mentor_id, mentee_id: user_match.id) %><%end%>
                <%= form_tag welcome_update_path, method: :patch do %>
                    <%= hidden_field_tag :match_id, @match.id %>
                    <%= submit_tag 'Accept Match?' %>
                <% end %>
                <%= form_tag welcome_reject_path, method: :patch do %>
                    <%= hidden_field_tag :match_id, @match.id %>
                    <%= submit_tag 'Reject Match?' %>
                <% end %>
            </div>
            <%end%>
        </div>
    </div>

