  
    <div class= "container" style="background:white" >
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false" style="background:white;">
                <!-- Indicators -->
            <ol class="carousel-indicators">
                <% @user_matches.each_with_index do |possible_match, i| %>
                <li data-target="#mycarousel" data-slide-to=#{i) class="#{'active' if i == 0}"></li>
                <% end %>
            </ol>
            <!-- Wrapper for slides -->
            
            <%puts @user_matches.length%>
            <div class="carousel-inner" role="listbox">
                <% @user_matches.each_with_index do |potential_match, i| %>
                    <% possible_user = User.find(potential_match.user_id) %>          
                    <div class="item <%= "active " if i==0 %>">    
                        <div>    
                            <div class="card container center jumbotron" style="width:60rem;">
                                <% if potential_match.avatar.attached? %>
                                    <img class="card-img-top" src="<%=(url_for(potential_match.avatar))%>" width="220" height="200">
                                <% else %>
                                    <img class="card-img-top" src="https://www.pngitem.com/pimgs/m/30-307416_profile-icon-png-image-free-download-searchpng-employee.png" width="220" height="200"/>
                                <% end %>
                            
                                <% if current_user.mentee == true %>
                                    <div class="card-body">
                                        <h5 class="card-title"><%= possible_user.firstname + " " + possible_user.lastname %></h5>
                                        <p class="card-text text-muted"><%= possible_user.email %></p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Area of expertise: <%= potential_match.area_of_expertise %></li>
                                        <li class="list-group-item">Preferred method of contact: <%= potential_match.preferred_method_of_contact%></li>
                                        <li class="list-group-item">University: <%= potential_match.school %></li>
                                        <li class="list-group-item">Current Position: <%= potential_match.current_position %></li>
                                        <li class="list-group-item">Location: <%= potential_match.location %></li>
                                        <li class="list-group-item">Preferred Length of Mentorship: <%= potential_match.length_of_mentorship %></li>
                                    </ul>
                                <% else %>
                                    <div class="card-body">
                                        <h5 class="card-title"><%= possible_user.firstname + " " + possible_user.lastname %></h5>
                                        <p class="card-text text-muted"><%= possible_user.email %></p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Major: <%= potential_match.major %></li>
                                        <li class="list-group-item">Areas of Interest: <%= potential_match.area_of_interest%></li>
                                        <li class="list-group-item">Location: <%= potential_match.location %></li>
                                        <li class="list-group-item">Graduation Year: <%= potential_match.graduation_year %></li>
                                        <li class="list-group-item">Preferred Method of Contact: <%= potential_match.preferred_method_of_contact %></li>
                                        <li class="list-group-item">Preferred Length of Mentorship: <%= potential_match.length_of_mentorship %></li>
                                    </ul>
                                <% end %>
                                <div class="card-body">
                                      <%if @user.mentee? %> <% @match = Match.find_by(user_id: current_user.id, mentor_id: potential_match.id, mentee_id: @mentee_id)%>
                                      <% end %>
                                      <%if @user.mentor? %><% @match = Match.find_by(user_id: current_user.id, mentor_id: @mentor_id, mentee_id: potential_match.id) %>
                                      <%end%>
                                    <%= form_tag welcome_update_path, method: :patch do %>
                                      <%= hidden_field_tag :match_id, @match.id %>
                                        <%= submit_tag 'Accept Match?' %>
                                      <% notification = AcceptedNotification.with(match: @match) %>
                                  <% end %>

                                  <%= form_tag welcome_reject_path, method: :patch do %>
                                      <%if @user.mentee? %> <% @match = Match.find_by(user_id: current_user.id, mentor_id: potential_match.id, mentee_id: @mentee_id)%>
                                      <% end %>
                                      <%if @user.mentor? %><% @match = Match.find_by(user_id: current_user.id, mentor_id: @mentor_id, mentee_id: potential_match.id) %>
                                      <%end%>
                                      <%= hidden_field_tag :match_id, @match.id %>
                                        <%= submit_tag 'Reject Match?' %>
                                  <% end %>
                                </div>
                            </div>
                    </div>   
                <% end %>  
                </div>       
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="background:white;color:#003478">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next" style="background:white;color:#003478">
                <span class="icon-next"></span>
            </a>
        </div>
    </div>
