<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/modernizr-2.7.1.min.js"></script>    
    <div style="height:1000px;background-color:white;font-size:36px;background-size: cover;max-height: 700px;">
    <div style="font-size:100px">
        <br><br><br><br><br><br>
        <%= link_to "Explore", explore_path  %> 
        <br><br><br><br><br><br>
        <%= link_to "", "/users/new"  %>
        <% @mentee = Mentee.find_by(user_id: current_user.id) %>
        <% @mentor = Mentor.find_by(user_id: current_user.id) %>
        <% if @mentee.nil? && @mentor.nil?%>
            <%= link_to "Log out", logout_path, method: :delete %>
        <% elsif current_user.mentee? %>
            <%= link_to "Profile", menteeprofile_path(@mentee), method: :get %>
            <% elsif current_user.mentor? %>
            <%= link_to "Profile", mentorprofile_path(@mentor), method: :get %>
            <% else %>
            <%= link_to "Profile", userprofile_path(current_user), method: :get %>
        <% end %>
        <br><br><br><br><br><br>
        <%= link_to "Matches", matches_path, method: :get %>
        <br><br><br><br><br><br>
        <%= link_to "Log out", logout_path, method: :delete %>
    </div>
    </div>

</body>
</html>