<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Explore</h1>
    <div class= "container" style="background:white;" >
        <% if @user.mentee? %>
            <% @mentee_id = Mentee.find_by(user_id: @user.id).id %>
            <% users = @mentor_matches %> 
            <% role = "mentor"%>
        <% elsif @user.mentor? %>
            <% @mentor_id = Mentor.find_by(user_id: @user.id).id %>
            <% users = @mentee_matches%>
            <% role = "mentee"%>
        <% end %>

        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false" style="background:white;">
                <!-- Indicators -->
            <ol class="carousel-indicators">
                <% users.each_with_index do |possible_match, i| %>
                <li data-target="#mycarousel" data-slide-to=#{i) class="#{'active' if i == 0}"></li>
                <% end %>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <% users.each_with_index do |possible_match, i| %>
                    <% possible_user = User.find(possible_match.user_id) %>          
                    <div class="item <%= "active " if i==0 %>">    
                        <div>    
                        <div class="container flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front center">
                                    <% if possible_match.avatar.attached? %>
                                        <img class="card-img-top" src="<%=(url_for(possible_match.avatar))%>" width="300" height="300">
                                    <% else %>
                                        <img class="card-img-top" src=<% url_for("/assets/defaultpic.png") %> width="300" height="300"/>
                                    <% end %>
                                    <h1 class="card-title"><%= possible_user.firstname + " " + possible_user.lastname %></h1>
                                    <h2 class="card-text text-muted"><%= possible_user.email %></h2>
                                    <h3 class="card-text text-muted">**Hover over me**</h3>
                                </div>
                                <div class="flip-card-back center jumbotron">
                                    <% if role == "mentee" %>
                                        <div>
                                            <table>
                                                <tbody>
                                                <tr>
                                                <td>Major</td>
                                                <td><%= possible_match.major %></td>
                                                </tr>
                                                <tr>
                                                <td>Areas of Interest</td>
                                                <td><%= possible_match.area_of_interest%></td>
                                                </tr>
                                                <td>Location</td>
                                                <td><%= possible_match.location%></td>
                                                </tr>
                                                <td>Graduation Year</td>
                                                <td><%= possible_match.graduation_year%></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    <%else %>
                                        <div>
                                            <table>
                                                <tbody>
                                                <tr>
                                                <td>Area of expertise</td>
                                                <td><%= possible_match.area_of_expertise %></td>
                                                </tr>
                                                <tr>
                                                <td>Preferred Method of Contact</td>
                                                <td><%= possible_match.preferred_method_of_contact %></td>
                                                </tr>
                                                <tr>
                                                <td>Alma Matter</td>
                                                <td><%= possible_match.school %></td>
                                                </tr>
                                                <td>Current Position</td>
                                                <td><%= possible_match.current_position%></td>
                                                </tr>
                                                <td>Location</td>
                                                <td><%= possible_match.location%></td>
                                                </tr>
                                                </tr>
                                                <td>Preferred Length of Mentorship</td>
                                                <td><%= possible_match.length_of_mentorship%></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    <% end %>
                                        <div class="card-body">
                                        <%= form_tag welcome_update_path, method: :patch, class: "form" do %>
                                            <%if @user.mentee? %> <% @match = Match.find_by(user_id: current_user.id, mentor_id: possible_match.id, mentee_id: @mentee_id)%>
                                            <% end %>
                                            <%if @user.mentor? %><% @match = Match.find_by(user_id: current_user.id, mentor_id: @mentor_id, mentee_id: possible_match.id) %>
                                            <%end%>
                                            <% puts @match %>
                                            <% puts "match was found "%>
                                            <%= hidden_field_tag :match_id, @match.id %>
                                            <%= submit_tag 'Accept Match?', class: "btn-green-qa"%>
                                            <% notification = AcceptedNotification.with(match: @match) %>
                                        <% end %>
                                        <%= form_tag welcome_reject_path, method: :patch, class: "form" do %>
                                            <%if @user.mentee? %> <% @match = Match.find_by(user_id: current_user.id, mentor_id: possible_match.id, mentee_id: @mentee_id)%>
                                            <% end %>
                                            <%if @user.mentor? %><% @match = Match.find_by(user_id: current_user.id, mentor_id: @mentor_id, mentee_id: possible_match.id) %>
                                            <%end%>
                                            <% puts @match %>
                                            <% puts "match was found "%>
                                            <%= hidden_field_tag :match_id, @match.id %>
                                            <%= submit_tag 'Reject Match?', class: "btn-red-qa"%>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>   
                <% end %>         
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="background:white;color:#003478">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next" style="background:white;color:#003478">
                <span class="icon-next"></span>
            </a>
        </div>
    </div>
</body>
</html> 