<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class= "center jumbotron emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h1>
                                        <%= @user.firstname + " " + @user.lastname %>
                                    </h1>
                                    <h6>
                                        Mentor
                                    </h6>
                            <br>
                            <br>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item active">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Matching Preferences</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane active" class="fade show" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <table class= "table">
                                      <tr>
                                        <th>Area of expertise</th>
                                        <td><%= @mentor.area_of_expertise %></td>
                                      </tr>
                                      <tr>
                                        <th>Preferred method of contact</th>
                                        <td><%= @mentor.preferred_method_of_contact%></td>
                                      </tr>
                                      <tr>
                                        <th>University</th>
                                        <td><%= @mentor.school %></td>
                                      </tr>
                                      <tr>
                                        <th>Current position</th>
                                        <td><%= @mentor.current_position %></td>
                                      </tr>
                                      </tr>
                                        <th>Location</th>
                                        <td><%= @mentor.location %></td>
                                      <tr>
                                      </tr>
                                        <th>Preferred Length of Mentorship</th>
                                        <td><%= @mentor.length_of_mentorship %></td>
                                      <tr>
                                        <th colspan="20"></th>
                                      </tr>
                                  </table>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <%= render 'matching_preferences/form', matching_preference: @matching_preference %>
                            </div>
                        </div>
                    </div>
                      <div class="col-md-6">
                        <div class="profile-img">
                        <% if @mentor.avatar.attached? %>
                          <img src="<%=(url_for(@mentor.avatar))%>" width="220" height="200">
                        <% else %>
                            <img src="defaultpic.png" alt="" style= "align:right" width="220" height="200"/>
                        <% end %>
                            <%# <div class="file btn btn-lg btn-primary">
                                Change Photo
                                <input type="file" name="file"/>
                            </div> %>
                        </div>
                        <%= link_to 'Edit Profile', edit_mentor_path(@mentor), class: "button2" %>
                    </div>
                    </div>
                </div>
            </form>           
        </div>

    </body>
    </html>