<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @matching_preference.location %>
</p>

<p>
  <strong>Length of mentorship:</strong>
  <%= @matching_preference.length_of_mentorship %>
</p>

<p>
  <strong>Common subjects:</strong>
  <%= @matching_preference.common_subjects %>
</p>

<p>
  <strong>Brandeis alumni:</strong>
  <%= @matching_preference.brandeis_alumni %>
</p>

<%= link_to 'Edit', edit_matching_preference_path(@matching_preference) %> |
<%= link_to 'Back', matching_preferences_path %>
