<p id="notice"><%= notice %></p>

<h1>Matches</h1>
<%#   
    <% matches_array = @matches_for_user[current_user.id] %>
    
    <% accepted_matches_for_user = current_user.get_accepted_matches() %>
    <% accepted_matches_for_user.each do |match| %>
    <%= match.id%>
    <% end%>

      <%# <% if at_least_one == false %> %>
        <div class= "center jumbotron" style="background:white" >
          <h1>Welcome, <%= current_user.firstname %>!</h1>
          <p>Check back here for matches after you explore.</p>
          <%= %>
          <br>
          <%= form_tag matches_create_path, method: :post do %>
              <%= submit_tag 'Make matches' %>
          <% end %>
        <%# <button class="btn btn-lg btn-primary text-light"> <%= link_to 'Explore matches', explore_path %>
        </div>
      <%# <% end %>
    
</table>

<br>


