<p id="notice"><%= notice %></p>

<head>
    <title>Mentorship App</title>
    <meta charset="utf-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <% accepted_matches_for_user = current_user.get_accepted_matches() %>
    
    <% if accepted_matches_for_user.length > 0 %>
    <h1>Matches</h1>
        <div class= "container" style="background:white" >
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false" >
                    <!-- Indicators -->
                <ol class="carousel-indicators">
                    <% accepted_matches_for_user.each_with_index do |possible_match, i| %>
                    <li data-target="#mycarousel" data-slide-to=#{i) class="#{'active' if i == 0}"></li>
                    <% end %>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <% accepted_matches_for_user.each_with_index do |match, i| %>
                    <% if current_user.mentee? %>
                        <% mentor_record = Mentor.find_by(id: match.mentor_id) %>
                        <% user_record = mentor_record%>
                        <% user = User.find(mentor_record.user_id) %>
                    <%else %>
                        <% mentee_record = Mentee.find_by(id: match.mentee_id)%>
                        <% user_record = mentee_record%>
                        <% user = User.find(mentee_record.user_id) %>
                    <%end%>
                        <div class="item <%= "active " if i==0 %>">
                            <div>    
                            <div class="container flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front center">
                                        <% if user.avatar.attached? %>
                                            <img class="card-img-top" src="<%=(url_for(user.avatar))%>" width="300" height="300">
                                        <% else %>
                                            <img class="card-img-top" src="https://www.pngitem.com/pimgs/m/30-307416_profile-icon-png-image-free-download-searchpng-employee.png" width="300" height="300"/>
                                        <% end %>
                                        <h1 class="card-title"><%= user.firstname + " " + user.lastname %></h1>
                                        <h2 class="card-text text-muted"><%= user.email %></h2>
                                        <h3 class="card-text text-muted">**Hover over me**</h3>
                                    </div>
                                    <div class="flip-card-back">
                                        <div class="center" style="padding:60px">
                                            <% if current_user.mentor? %>
                                                <div>
                                                    <table class= "table">
                                                        <tbody>
                                                        <tr>
                                                        <td>Major</td>
                                                        <td><%= mentee_record.major %></td>
                                                        </tr>
                                                        <tr>
                                                        <td>Areas of Interest</td>
                                                        <td><%= mentee_record.area_of_interest%></td>
                                                        </tr>
                                                        <td>Location</td>
                                                        <td><%= mentee_record.location%></td>
                                                        </tr>
                                                        <td>Graduation Year</td>
                                                        <td><%= mentee_record.graduation_year%></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <% other_user_id = mentee_record.user_id%>
                                                <% search_record = Mentor.find_by(user_id: @user.id) %>
                                                <% other_match = Match.find_by(user_id: other_user_id, mentor_id: search_record.id) %>
                                            <%else %>
                                                <div>
                                                    <table class= "table">
                                                        <tbody>
                                                        <tr>
                                                        <td>Area of expertise</td>
                                                        <td><%= mentor_record.area_of_expertise %></td>
                                                        </tr>
                                                        <tr>
                                                        <td>Preferred Method of Contact</td>
                                                        <td><%= mentor_record.preferred_method_of_contact %></td>
                                                        </tr>
                                                        <tr>
                                                        <td>Alma Matter</td>
                                                        <td><%= mentor_record.school %></td>
                                                        </tr>
                                                        <td>Current Position</td>
                                                        <td><%= mentor_record.current_position%></td>
                                                        </tr>
                                                        <td>Location</td>
                                                        <td><%= mentor_record.location%></td>
                                                        </tr>
                                                        </tr>
                                                        <td>Preferred Length of Mentorship</td>
                                                        <td><%= mentor_record.length_of_mentorship%></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <% other_user_id = mentor_record.user_id%>
                                                <% search_record = Mentee.find_by(user_id: @user.id) %>
                                                <% other_match = Match.find_by(user_id: other_user_id, mentee_id: search_record.id) %>
                                            <% end %>                                 

                            <%if other_match != nil %>
                                <%if other_match.accepted %> 
                                    Status: It's a match! You can now chat with this user
                                    <br>

                                     <%= link_to "Chat", room_create_path(room: { name: "#{user.firstname} #{user.lastname} and #{current_user.firstname} #{current_user.lastname}"}), method: :post, class: "button3"%>
                                <% elsif other_match.rejected %>
                                    Status: Match rejected :(. Swipe to see other matches or explore for more!
                                    <%  @match_to_reject = Match.find_by(user_id: @user.id, mentor_id: @temp_id, mentee_id: mentee_record.id)  %>
                                    <%= form_tag welcome_reject_path, method: :post, class: "form" do %>
                                        <%= hidden_field_tag :match_id, @match_to_reject.id %>
                                        <%= submit_tag 'Reject Match', class: "btn-red-qa"%>
                                    <% end %>      
                                <% else%>
                                    Status: Match pending acceptance
                                <%end%>
                            <%end%>
                                        </div>
                                    </div>
                                </div>
                            </div>                        
                            </div>
                        </div>
                    <% end %>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="background:white;color:#003478">
                    <span class="icon-prev"></span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next" style="background:white;color:#003478">
                    <span class="icon-next"></span>
                </a>
            </div>
        </div>
    <% else %>
        <h1> Click the button below to explore matches </h1>
        <div class="center"><%= link_to "Explore", explore_path, method: :get, class: "button2" %> </div>
    <% end %>
</table>
</body>

<br>