<header>
<script $(window).scroll(function () {
if ($(window).scrollTop() >= 50) {
$('.navbar').css('background','red');
} else {
$('.navbar').css('background','transparent');
}
});></script>
<nav class="navbar bg-transparent navbar-fixed-top py-5">
<div class="navbar-inner">
      <div class="container">
        <nav >
          <% if logged_in? %>
            <%= link_to image_tag("logo1.png", size: "150x100", alt: "logo"), explore_path, id: 'logo-image' %>
            <ul class="nav navbar-nav navbar-right">
            <% @mentee = Mentee.find_by(user_id: current_user.id) %>
            <% @mentor = Mentor.find_by(user_id: current_user.id) %>
            <% if @mentee.nil? && @mentor.nil?%>
              <li><%= link_to "Log out", logout_path, method: :delete %></li> 
            <% elsif current_user.mentee? %>
              <li><%= link_to "Profile", menteeprofile_path(@mentee), method: :get %></li> 
              <li><%= link_to "Matches", matches_path, method: :get %></li> 
              <li><%= link_to "Log out", logout_path, method: :delete %></li> 
            <% elsif current_user.mentor? %>
              <li><%= link_to "Profile", mentorprofile_path(@mentor), method: :get %></li> 
              <li><%= link_to "Matches", matches_path, method: :get %></li> 
              <li><%= link_to "Log out", logout_path, method: :delete %></li> 
            <% else %>
              <li><%= link_to "Profile", userprofile_path(current_user), method: :get %></li> 
              <li><%= link_to "Matches", matches_path, method: :get %></li> 
              <li><%= link_to "Profile", profile_path, method: :get %></li> 
              <li><%= link_to "Log out", logout_path, method: :delete %></li> 
            </ul>
            <% end %>
          <% else %>
          <%= link_to image_tag("logo1.png", :size => "150x100", alt: "logo"), "/", class: 'navbar-brand', id: 'logo-image'%>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Log in", login_path  %></li> 
              <li><%= link_to "Sign up", "/users/new"  %></li>
            </ul>
          <% end %>
        </nav>
        </div>
      </div>
    </div>
   </nav>
</header> 
